@page "/files"
@rendermode InteractiveServer

<h3>FilesUpAndDown</h3>

<FluentButton OnClick="Calculate">Calculate</FluentButton>

<div class="files">
    @foreach (var item in fileUrls)
    {
        <a href="@($"files/{item}")"><div class="file-item">@item </div></a>
    }
</div>

