@page "/"

<PageTitle>Demo/Home</PageTitle>

<div class="card-container">
    <div class="card">A</div>
    <div class="card">A</div>
    <div class="card">A</div>
    <div class="card">A</div>
    <div class="card">A</div>
    <div class="card">A</div>
    <div class="card">A</div>
    <div class="card">A</div>
    <div class="card">A</div>
    <div class="card">A</div>
    <div class="card">A</div>
    <div class="card">A</div>
    <div class="card">A</div>
    <div class="card">A</div>
</div>
<div class="card-container-flex">
    <div class="card">A</div>
    <div class="card">A</div>
    <div class="card">A</div>
    <div class="card">A</div>
    <div class="card">A</div>
    <div class="card">A</div>
    <div class="card">A</div>
    <div class="card">A</div>
    <div class="card">A</div>
    <div class="card">A</div>
    <div class="card">A</div>
    <div class="card">A</div>
    <div class="card">A</div>
    <div class="card">A</div>
</div>